@{
    ViewBag.Title = "Hungry?";
}

<h2>Welcome to DevLunch!</h2>

<br />

<div class="row">
    <div class="col-md-8">
        <p><a class="btn btn-default">Set up the next Dev Lunch!</a></p>
    </div>
</div>